@{
    Layout = "Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <section class="section section-md">
        <div class="container">
            <div class="row row-40 justify-content-center">
                <div class="col-lg-6 col-12">
                    <div class="offset-top-45 offset-lg-right-45">
                        <div class="section-name wow fadeInRight" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">Sobre Nosotros</div>
                        <h3 class="wow fadeInLeft text-capitalize" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;"><span class="text-primary">Multiservicios</span></h3>
                        <p class="font-weight-bold text-gray-dark wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            Nuestra tienda multiservicios ofrece distintos servicios para distintas necesidades de nuestros clientes.
                            Entre nuestros principales servicios podras encontrar: GiftCards para videojuegos, Chucherias, Videos, Regalos, Peluches, TigoMoney, otros.
                        </p>
                        <p class="font-weight-bold text-gray-dark wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            Nuestro horario de atencion regular es de Lunes a Viernes de 3:00 PM a 7:00 PM. Si eres cliente regular puedes realizar tus pedidos de 
                            GiftCards a traves de WhatsApp o requerir cualquier otro servicio.
                        </p>
                        <p class="font-weight-bold text-gray-dark wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            Nos encontramos ubicados en nuestra el Shopping IC Norte Hipodromo en el Local 3, Nivel 1. Visitanos para conocer nuestros distintos tipos de servicios.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10 col-12">
                    <div class="block-decorate-img wow fadeInLeft" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <img src="~/images/logo.jpeg" alt="" width="570" height="351">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
