<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <trace enabled="true" pageOutput="false" writeToDiagnosticsTrace="true"/>
  </system.web>
  <system.diagnostics>
    <switches>
      <add name="ImportantSwitch" value="1" /><!-- 0 off, 1 activado Esto es para el BooleanSwitch -->
      <add name="LevelSwitch" value="1" /><!-- 0 off, 1 error, 2 warning, 3 info, 4 Verbose Esto es para el TraceSwitch -->
      <add name="SourceSwitch" value="4" /><!--  Esto es para el SourceSwitch -->
    </switches>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="myListener"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="c:\myListener.log" />
        <add name="webListener"
        type="System.Web.WebPageTraceListener, System.Web, Version=4.0.0.0,
        Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add name="EventLogTraceListener"
        type="System.Diagnostics.EventLogTraceListener"
        initializeData="Wrox"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
